<header>
    <a href="/">
        <h1>Ty Malik 🐦‍🔥</h1>
    </a>

    <p>
        Programming parsers, a text editor,<br />
        web apps, DSA, and Advent of Code<br />
    </p>
    <nav>
        <a href="https://github.com/permalik/" target="_blank">GitHub</a>
        <a href="https://tymalik-swe.com/" target="_blank">Résumé</a>
        <a href="https://linkedin.com/in/permalik/" target="_blank">LinkedIn</a>
        <a href="mailto:tymalik@pm.me" target="_blank">Email</a>
        <a href="https://yyyo.ink/" target="_blank">yyyoink</a>
        <a href="https://sunsplitstudio.com/" target="_blank">Sunsplit Studio</a>
    </nav>
</header>

<style lang="scss">
    header {
        max-width: 50rem;
        margin: 0 auto;
        font-family: var(--sans-font);
        padding: 1rem clamp(1.25rem, 3vw, 2rem);
        & a {
            & h1 {
                display: inline-block;
            }
        }
        & p {
            margin: 0 0 1rem;
        }
        .lang-link:hover {
            text-decoration: underline;
        }
        & nav {
            display: flex;
            flex-wrap: wrap;
            & a {
                &:not(:last-child) {
                    margin: 0 2rem 0 0;
                }
                &:hover {
                    text-decoration: underline;
                }
                & img {
                    height: 1.5rem;
                    width: 1.5rem;
                    opacity: 0.5;
                }
                & img:hover {
                    filter: invert(40%) sepia(61%) saturate(2913%)
                        hue-rotate(309deg) brightness(93%) contrast(94%);
                    opacity: 1;
                }
            }
        }
    }
</style>
